@import '../../styles/global.less';

.notesPage {
  height: calc(100vh - 72px);
  width: 100%;
  border: none;
  overflow: hidden;
  background: @bg;

  @media @mobile {
    height: calc(100vh - 60px);
  }
}
